h1 {
  text-align: center;
}
.mainContainer {
  display: flex;
  gap: 60px;
}
#grid-container {
  border: solid black 3px;
  width: 420px;
  height: 420px;
  /* width: 680px;
  height: 680px; */
  display: flex;
  flex-direction: column;
  align-content: stretch;
}
.generatedBox {
  height: 100%;
  display: flex;
  align-content: stretch;
}
.generatedBox2 {
  width: 100%;
  border: solid black 1px;
}
